<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
</head>
<body>
	<header>title</header>
	<div class ="projects-section">
		<div class = "project">
			<btn class="threedots">3dots</btn>
			<h1 class = "title">Ed Sheeran</h1>
			<h2 class = "subtitle">Divide Tour 2019</h2>
			<h2>12 tracks</h2>
		</div>
		<div class = "new_project">
			<p class = "plus"><a>+</a></p>
		</div>
	<modal>
		<div class = "new_project_dialog">
			<button class="close">+</button>
			<h1 class = "project_title">Create new project</h1>
			<form action = "/home" method = "POST">
  				<label  class= "subtitle"">Artist:</label>
  				<input class = "np_input" type="text" name="artist-name">
  				<label class= "subtitle" >Tour:</label>
  				<input class = "np_input" type="text" name="tour-name">
				<button class="create_project_btn" type="submit">Create Project</button>
			</form>
		</div>
	</modal>

	
	</div>
	<footer>btt</footer>
</body>
</html>

